/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~fontsource-nunito/index.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

body {
  position: relative;
  color: white;
  height: 100vh;

  background-color: #2b2b2b;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.Modal {
  position: absolute;
  top: 70px;
  right: 60px;
  left: auto;
  bottom: auto;
  display: grid;
  grid-template-areas: 'left right';
  flex-direction: column;
  background-color: black;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  padding-top: 40px;
}

.HelpModal {
  position: absolute;
  top: 30px;
  left: 30px;
  right: auto;
  bottom: auto;
  display: grid;
  grid-template-areas: 'left right';
  flex-direction: column;
  width:  calc(100% - 60px);
  height: calc(100% - 60px);

  background-color: black;
  border: 1px solid rgb(204, 204, 204);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  padding-top: 40px;
}

.HelpModal > button,
.HelpModal > div ,
.HelpModal > button,
.Modal > div {
  margin-bottom: 10px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}
